In [1]:
import pandas as pd

In [3]:
data = pd.DataFrame({'t':[0,1,2,3,4,5,6,7],
                     'N':[1000,869,743,653,593,551,517,491],
                     'Dropped this month':[0,131,126,90,60,42,34,26]
                    })
data

   Dropped this month     N  t
0                   0  1000  0
1                 131   869  1
2                 126   743  2
3                  90   653  3
4                  60   593  4
5                  42   551  5
6                  34   517  6
7                  26   491  7

In [4]:
p = 0.5

In [28]:
data['Probability'] = data.apply(lambda r: p**(r['t']), axis=1)

In [29]:
data

   Dropped this month     N  t  Probability
0                   0  1000  0     1.000000
1                 131   869  1     0.500000
2                 126   743  2     0.250000
3                  90   653  3     0.125000
4                  60   593  4     0.062500
5                  42   551  5     0.031250
6                  34   517  6     0.015625
7                  26   491  7     0.007812